body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(bg_blue.jpg);
  background-repeat: repeat;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: purple;
}
#summary
{
	color: purple;
	font-size: 96px;
}
.awesome {
	color: orange;
	font-size: 36px;
}